cache/
crash-reports/
logs/
plugins/update/
usercache.json
usernamecache.json
ops.json
tmp/
version_history.json
.console_history
versions/
texturepacks/
#Worlds
Mining/
Earth_nether/
Earth_the_end/
start.sh
