cache/
crash-reports/
logs/
plugins/update/
usercache.json
usernamecache.json
ops.json
tmp/
eula.txt
help.yml
ops.json
version_history.json
.console_history
versions/
texturepacks/
Mining/
Earth_nether/
Earth_the_end/
start.sh
wepif.yml
